// -----------------------------------------------------------------------------
// This file contains all @font-face declarations, if any.
// -----------------------------------------------------------------------------
@font-face {
    font-family: "Gilroy-Black";
    src: url("./assets/fonts/Gilroy-Black.otf") format('truetype');
    font-weight: normal;
    font-style: normal;
}

@font-face {
    font-family: "Gilroy-Bold";
    src: url("./assets/fonts/Gilroy-Bold.otf") format('truetype');
    font-weight: normal;
    font-style: normal;
}

@font-face {
    font-family: "Gilroy-Extrabold";
    src: url("./assets/fonts/Gilroy-Extrabold.otf") format('truetype');
    font-weight: normal;
    font-style: normal;
}

@font-face {
    font-family: "Gilroy-Heavy";
    src: url("./assets/fonts/Gilroy-Heavy.otf") format('truetype');
    font-weight: normal;
    font-style: normal;
}

@font-face {
    font-family: "Gilroy-Light";
    src: url("./assets/fonts/Gilroy-Light.otf") format('truetype');
    font-weight: normal;
    font-style: normal;
}

@font-face {
    font-family: "Gilroy-Medium";
    src: url("./assets/fonts/Gilroy-Medium.otf") format('truetype');
    font-weight: normal;
    font-style: normal;
}

@font-face {
    font-family: "Gilroy-Regular";
    src: url("./assets/fonts/Gilroy-Regular.otf") format('truetype');
    font-weight: normal;
    font-style: normal;
}

@font-face {
    font-family: "Gilroy-Semibold";
    src: url("./assets/fonts/Gilroy-Semibold.otf") format('truetype');
    font-weight: normal;
    font-style: normal;
}

@font-face {
    font-family: "iCielGotham-Bold";
    src: url("./assets/fonts/iCielGotham-Bold.ttf") format('truetype');
    font-weight: normal;
    font-style: normal;
}

@font-face {
    font-family: "iCielGotham-Book";
    src: url("./assets/fonts/iCielGotham-Book.ttf") format('truetype');
    font-weight: normal;
    font-style: normal;
}

@font-face {
    font-family: "iCielGotham-Light";
    src: url("./assets/fonts/iCielGotham-Light.otf") format('opentype');
    font-weight: normal;
    font-style: normal;
}

@font-face {
    font-family: "iCielGotham-Medium";
    src: url("./assets/fonts/iCielGotham-Medium.ttf") format('truetype');
    font-weight: normal;
    font-style: normal;
}